{% include "food/test.html" %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}" />
<div id='container'>

	<div id='header'> 
		<h1>{{ dish.name }}  {{dish.persons}} Personen</h1>
	</div>
	<div id ='content-left'>
		{{ dish.preparation|safe }}
	</div>
	<div id = 'content-right'>
		{% if dish.url != None %}
			<img src="/static/food/images/{{ dish.url }}" width="250" height="250">	
		{% endif %}
		<table style="width:250px">
		<th>Ingredienten</th>
		{% for ingredient in dish.ingredient_set.all %}
			<tr>
				<td>{{ ingredient.ingredient }}</td> 
				<td>{{ ingredient.amount }}</td> 
				<td>{{ ingredient.unit }}</td> 
			</tr>
		{% endfor %}
		</table>
	</div>
</div>