
$small-letters: #efd384;


// background color for body
$background-color: #663300;



// backgorund color for nacbar, panels etc
$navbar-background-color: rgba(72, 51, 3, 0.87);


$h-color: #edd35d;
$h-color-shadow: 0px 0px 10px #f5ff00;

$box-shadow: 0px 0px 10px 5px rgba(186,113,35,0.75);

