{% extends "wedding/main.html" %}
{% block content %}

<div class='container'>
	<div class="pageheader">
		<h1>{{ invitee.party_name }} </h1>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			{% csrf_token %}
			<table class="table table-responsive">
				<th>Guest id</th>
				<th>Guest</th>
				<th>Attend</th>
				<th></th>
				{% for guests in invitee.invitee_extra_set.all %}
				<tr>
					<td><label for="attend{{ forloop.counter }}"> {{ guests.id }}</label></td>
					<td><label for="attend{{ forloop.counter }}"> {{ guests.guest }}</label></td>
					<td><label for="attend{{ forloop.counter }}"> {{ guests.test }}</label></td>
					<td>	
						<form action="{% url 'wedding:vote' invitee.id %}" method="post">
						{% csrf_token %}
						    <input type="submit" name="choice" id="choice" value="{{ guests.id }}" />

<!-- 							<input type="submit" name="choice" value="Vote"  /> -->
						</form>
					</td>
				<tr>
			{% endfor %}
			</table>
		</div>
	</div>


{{ form.as_p }}
</div>

{% endblock %}