{% extends "wedding/main.html" %}
{% block content %}


<div class="container">
	<div class="page-header">
		<h1>Fotos</h1>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Fotograaf</h3>
		  </div>
		  <div class="panel-body">
		  <p>Wij hebben ervoor gekozen om niet van de hele dag een fotograaf rond te hebben lopen.</p><p>Uiteraard zullen er wel mooie fotos worden gemaakt van ons in bruidskleding en zal de ceremonie worden gefotografeerd door een proffesionele fotograaf.</p><p>Uiteraard zullen er wel mooie fotos worden gemaakt van ons in bruidskleding en zal de ceremonie worden gefotografeerd door een proffesionele fotograaf.</p><p>Tijdens het feest zal hij mogelijk ook nog enkele fotos maken, maar aangezien het ook een familie lid betreft, is het voor hem ook wel zo leuk wat tijd met vriendin en andere bekenden door te kunnen brengen.</p>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">BYOD</h3>
		  </div>
		  <div class="panel-body">
		  	<p>Bring Your Own Device. In de IT een term die al een tijdje "hot" is. Hiermee wordt bedoeld dat een medewerker zelf de keuze heeft met welk device hij werkt. Dit kan zijn voor zijn computer maar ook voor smartphones.</p><p>In ons geval komt het op hetzelfde neer. We zouden het leuk vinden dat iedereen fotos maakt. Of dit nu met een spiegel reflex camera is, of met een smartphone maakt ons niet uit. Alle fotos zouden we dan graag verzamelen, wetende dat we heel veel fotos hebben, waarvan het gros mogelijk niet echt goed gelukt zijn.</p><p>We verwachten echter ook dat er fotos tussen zullen zitten die superleuk zijn. Een ander karakter hebben dan wanneer 1 fotograaf het werk zou doen.</p><p>Wij zullen zorgen voor een plek waar iedereen zijn fotos kan uploaden zodat wij deze kunnen zien.</p>
		  </div>
		</div>
	</div>

</div>

{% endblock %}