{% extends "wedding/main.html" %}
{% block content %}

<div class='container'>
	<div class="page-header">
		<h1>Gastenlijst<small> {% now "D d M Y" %} 	</small></h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Klik op je naam om je aan of af te melden</h3>
		</div>
		<div class="panel-body">
<!-- 				<div class='col-sm-4'> -->

					<table class="table table-responsive table-guests">
					{% for guest in guest_list %}
						<tr>
							<td><a href="{{guest.id }}"> {{ guest.party_name }} </a></td>
						</tr>
					{% endfor %}
					</table>
				</div>



			</div>
		</div>
</div>


{% endblock %}