{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'wedding/style.css' %}">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{% static 'javascript/jquery-1.11.0.min.js' %}"></script>
</head>
<html>
<body>
<!--Navigation-->
{% include "wedding/navbar.html" %}
<div class='container'>
	<div class='row'>
		<div class='col-sm-4'>
			<h1>Gasten</h1>
			<table class="table table-striped">
			{% for party in party_list %}
				<tr>
					<td><a href="{{party.id }}"> {{ party.party_name }} </a></td>
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
{% bootstrap_javascript %}
</body>
</html>