{% extends "wedding/main.html" %}
{% block content %}

<div class="container">


	<div class="page-header">
		<h1>Programma</h1>
	</div>
	<div class="col-xl-1">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Programma</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="table-responsive">
			    <table class="table">
			    	<tr><td>Ontvangst vanaf 19.00</td></tr>
			    	<tr><td>Start Ceremonie 19.30</td></tr>
			    	<tr><td>Direct na ceremonie start het feest</td></tr>
			    </table>
			</div>
		  </div>
		</div>
	</div>
	<div class="col-xl-1">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Muziek</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="table-responsive">
			    <table class="table">
			    	<tr>
			    		<td>Telefoon</td>
			    		<td>0612345678</td>
			    	</tr>
			    	<tr>
			    		<td>Email</td>
			    		<td>patrickenmariska@gmail.com</td>
			    	</tr>
			    </table>
			</div>
		  </div>
		</div>
	</div>

</div>

{% endblock %}