{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>De Bruiloft</title>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="{% static 'javascript/jquery-1.11.0.min.js' %}"></script>
	<!-- Wedding stylesheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'wedding/wedding_sass/stylesheets/main.css' %}" />
</head>
<body>
<!--Navigation-->
{% include "wedding/navbar.html" %}
<div class="container">
	<div class="alert alert-danger" role="alert">
		Let op, de pagina is nog in ontwikkeling. POLLO2 Er zullen nog wijzigingen worden gemaakt.
	</div>
</div>
{% block content %}
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>