{% extends "wedding/main.html" %}
{% block content %}






<div class="container">
	<div class="page-header">
		<h1>Overnachten</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
			<img src="/static/wedding/images/heerlijkheid.jpg" alt="...">
				<div class="caption">
					<h3>De Zwarte Boer</h3>
					<p>In het pittoreske Leuvenum ligt midden in de bossen het kleinste 4 sterren hotel van Nederland.</p>
					<div class='text-center'>
					<p><a href="location" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="thumbnail">
			<img src="/static/wedding/images/vandervalk.jpg" alt="...">
				<div class="caption">
					<h3>Foto's</h3>
					<p>We zouden het leuk vinden als zoveel mogelijk mensen fotos maken. Neem je camera dus mee!</p>
					<div class='text-center'>
					<p><a href="fotos" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




HEERLICKHEIJD VAN ERMELO
{% endblock %}