body{
	background-color: #EBEBFF;
}

#container{
	width:1000px;
	margin:auto;
	background-color: lightblue;

}

#header{
	#background-color: red;
}

#content-left{
	#background-color: orange;
	height: 200px;
	width: 750px;
	float:left;

}

#content-right{
	#background-color: blue;
	width: 250px;
	float:right;
}

img{
	float: right;
}

/*TABLE PROPERTIES*/


li{
	list-style-type: none;
}

th{
	text-align: left;
}